<div class="row">
    <div class="col-md-6">

        <div style="vertical-align:central; padding:10px;color:white;">
            <h2>AHO - Serviços Médicos</h2>
            <p>
                Atendimento médico diferenciado com valores acessíveis.
                <a class="btn btn-default" href="#">
                    Saiba Mais
                </a>
            </p>
        </div>
        <img src="~/images/Convenios/aho_serv_med.jpg" class="img-responsive" alt="imagem 1" />


    </div>
    <div class="col-md-6" style="align-content:flex-end;margin-top:50px; padding:20px;color:white;text-align:center">
        <h3>Corpo Clínico</h3>
        <p>
            Acupuntura	 		– 	Dr. Paulo Sergio<br />
            Cardiologia			 –	Dr. Cesar Augusto Conforti<br />
            Cardiologia			 –	Dr. Jorge Porto<br />
            Cirurgia Geral		 –	Dr. Alfredo Fernando Vecchiatti Pomella<br />
            Clínica Geral 			– 	Dr. Nicolau Chafick Miguel Junior<br />
            Clínica Geral 			– 	Dra. Patricia Natario da Costa Pinto<br />
            Endocrinologia Pediatrica	–	Dr. Maycon José Reinaldi Serra<br />
            Endocrinologia 		–	Dra. Patricia Natario da Costa Pinto<br />
            Fonoaudiologia		–	Dra. Ana Lucia Mira Rodrigues<br />
            Gastroenterologia		–	Dra. Fátima Rosa dos Santos<br />
            Ginecologia			–	Dr. Guilherme Pereira Martins<br />
            Ginecologia			–	Dra. Thalita Quadrado Penati<br />
            Neurologia			–	Dr. Jorge Miguel Israel Brumatti<br />
            Nutricionista			–	Dra. Marilene Bibiana Pereira Nieiro<br />
            Nutricionista			–	Dra. Patricia de Oliveira Naste<br />
            Ortopedia			–	Dr. Luiz Augusto C. Bicudo<br />
            Ortopedia			–	Dr. Gustavo Carneiro<br />
            Ortopedia Pediátrica	–	Dr. Gustavo Carneiro<br />
            Pediatria			–	Dr. Maycon José Reinaldi Serra<br />
            Psicologia			–	Dr. Luiz Fernando Dias de Oliveira<br />
            Psicologia			–	Dra. Luiza de Carvalho Freitas<br />
            Psiquiatria			–	Dra. Adriana H. de Oliveira<br />
            Proctologia			–	Dr. Alfredo Fernando Vecchiatti Pomella<br />
            Terapia Ocupacional	–	Dra. Silvia Rodrigues Muniz

        </p>
    </div>
</div>
