<div style="vertical-align:central; padding:10px;color:white;">
    <h2>Dr. André Turini Rodas</h2>
    <p>
        Cirurgião Dentista - SP - 26313
        <a class="btn btn-default" href="#">
            Saiba Mais
        </a>
    </p>
</div>

<img src="~/images/Convenios/andre_turini.JPG" class="img-responsive" alt="imagem 2" />
