<div style="vertical-align:central; padding:10px;color:white;">
    <h2>Dr. Arnaldo Marques de Souza</h2>
    <p>
        Otorrinolaringologista - CRM SP - 53502
        <a class="btn btn-default" href="#">
            Saiba Mais
        </a>
    </p>
</div>

<img src="~/images/Convenios/Arnaldo_marques.jpg" class="img-responsive" alt="imagem 2" />