
<div class="row">
    <div class="col-md-6">

        <div style="vertical-align:central; padding:10px;color:white;">
            <h2>CROMABS - Centro de Radiologia</h2>
            <h3>e documentação odontológica</h3>
            <div>
                <p>
                    Para maiores informações visite o
                    <a class="btn btn-default" href="https://www.cromabs.com.br" target="_blank">
                        Site
                    </a>
                </p>
            </div>

        </div>

        <img src="~/images/Convenios/cromabs.JPG" class="img-responsive" alt="imagem 1" />


    </div>
    <div class="col-md-6" style="align-content:flex-end;margin-top:50px; padding:20px;color:white;text-align:center">
        <h3>Unidades</h3>
        <p>
            SANTOS I
            Av. Afonso Pena, 81 - Macuco - SP

            Horário de Atendimento

            Seg. a Sext - 08h às 18h

            Sab - 08h às 12h

            T : 13-3223-3490 | 3221-6042

            Whatsapp: (13) 99785-4769
        </p>
        <p>
            SANTOS II - Gonzaga
            Av. Ana Costa - 493- CJ 15 - 1° Andar - Gonzaga

            Horário de Atendimento

            Seg. a Sext - 08h às 12h e 13h às 18h



            T : 13-3289-7699 | 3284-4533

            Whatsapp: (13) 99629-0850


        </p>
        <p>
            SÃO VICENTE
            R. João Ramalho,803 - Sl 61 - Centro

            Horário de Atendimento

            Seg. a Sext - 08h às 12h e das 13h às 18h

            Sab - 09h às 12h



            T : 13-3466-4351 | 3466-4526

            Whatsapp: (13) 99779-2855
        </p>
        <p>
            CUBATÃO
            Av. Nove de Abril, 2068 - CJ 14 - Galeria Piaçaguera

            Horário de Atendimento

            Seg. a Sext - 08h às 12h e das 14h às 18h

            Sab - 08h às 12h

            T : 13-3361-1558 | 3372-8471

            Whatsapp: (13) 99614-8932


        </p>

    </div>
</div>
