<div style="vertical-align:central; padding:10px;color:white;">
    <h2>EBRADI</h2>
    <p>
        Escola Brasileira de Direito
        <a class="btn btn-default" href="https://www.ebradi.com.br/" target="_blank">
            Saiba Mais
        </a>
    </p>
</div>

<img src="~/images/Convenios/informa_003.JPG" class="img-responsive" alt="imagem 7" />
