<div style="vertical-align:central; padding:10px;color:white;">
    <h2>Gastro Diagnose Santos</h2>
    <p>
        Dra. Renata Plácido Maria - CRM 64.955
        <a class="btn btn-default" href="#">
            Saiba Mais
        </a>
    </p>
</div>

<img src="~/images/Convenios/gastrodiagnosesantos_cartao.jpg" class="img-responsive" alt="imagem 2" />