<div class="row">
    <div class="col-md-6">

        <div style="vertical-align:central; padding:10px;color:white;">
            <img src="~/images/Convenios/multimagem_logo.JPG" class="img-responsive" alt="logo multimagem" />
            <br />
            <div>
                <p>
                    Para maiores informações visite o
                    <a class="btn btn-default" href="http://www.multimagem.med.br" target="_blank">
                        site
                    </a>
                </p>
            </div>

        </div>

        <img src="~/images/Convenios/multimagem.jpg" class="img-responsive" alt="imagem 1" />


    </div>
    <div class="col-md-6" style="align-content:flex-end;margin-top:50px; padding:20px;color:white;text-align:center">
        <h3>Unidades</h3>
        <p>

            01. EDIFÍCIO MULT IMAGEM
            Rua Júlio Conceição, 296 - Vila Mathias - Santos/SP
            13 3202-1250
        </p>
        <p>
            02. CUBATÃO
            Rua São Paulo, 206 - Vila Santa Tereza - Cubatão/SP
            13 3361-7149


        </p>
        <p>

            03. BERTIOGA
            Rua Luis Pereira de Campos, 119 - Vila Itapanhau - Bertioga/SP
            13 3316-4448/3317-1994
        </p>
        <p>
            04. GUARULHOS
            Rua Maria Candida Pereira, 770 - Itapejica - Guarulhos/SP
            11 2414-2136/2421-3450

        </p>
        <p>
            05. CAÇAPAVA
            Rua Marques de Herval, 68 – Caçapava/SP

        </p>
        <p>

            06. SÃO VICENTE ➽ BREVE!
            Aguarde, logo estaremos atendendo neste local.
            (Está unidade ainda não está em funcionamento.)

        </p>
        <p>
            07. SÃO PAULO
            Avenida Rebouças, 2380 – São Paulo/SP

        </p>
        <p>

            08. CARAGUATATUBA
            Avenida Presidente Castelo Branco, 248 – Caraguatatuba/SP

        </p>
        <p>

            09. UBATUBA
            Rua Hans Staden, 777 – Ubatuba/SP

        </p>
        <p>


            10. PRAIA GRANDE
            Shopping Litoral Plaza - Avenida Ayrton Senna da Silva, 1511
            Subsolo SAC 1 - Praia Grande/SP
            13 3346-6400

        </p>
    </div>
</div>