<div style="vertical-align:central; padding:10px;color:white;">
    <h2>Dr. Paulo Turini Rodas</h2>
    <p>
        Cirurgião Dentista - Endodontista - SP - 22.237
        <a class="btn btn-default" href="#">
            Saiba Mais
        </a>
    </p>
</div>

<img src="~/images/Convenios/paulo_Turini.JPG" class="img-responsive" alt="imagem 2" />
