<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EscolaLumiart</title>

    @*------------------   jquery para autocomplete *@
    <script src="https://code.jquery.com/jquery.min.js"></script>
    @* -------------------- jquery para autocomplete *@
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    @* -----------------------------------------------*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />
    @*------------------  ------------------------- *@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/lib/bootstrap/dist/css/simple-sidebar.css" rel="stylesheet" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/bootstrap/dist/css/simple-sidebar.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script>
        $(document).ready(function () {
            $("#ToggleSideMenu").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('[tool-tip-toggle="tooltip-demo"]').tooltip({

                placement: 'bottom'

            });

        });

    </script>

    <script>
        $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).parent().parent().find('.dropdown-menu').hide();
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

    </script>

    @*'*************************************************'*@

    @*inserido*@


    @*'*************************************************'*@
    <script type="text/javascript">

        $(document).ready(function () {

            //Set Default State of each portfolio piece
            $(".paging").show();
            $(".paging a:first").addClass("active");

            //Get size of images, how many there are, then determin the size of the image reel.
            var imageWidth = $(".window").width();
            var imageSum = $(".image_reel img").size();
            var imageReelWidth = imageWidth * imageSum;

            //Adjust the image reel to its new size
            $(".image_reel").css({ 'width': imageReelWidth });

            //Paging + Slider Function
            rotate = function () {
                var triggerID = $active.attr("rel") - 1; //Get number of times to slide
                var image_reelPosition = triggerID * imageWidth; //Determines the distance the image reel needs to slide

                $(".paging a").removeClass('active'); //Remove all active class
                $active.addClass('active'); //Add active class (the $active is declared in the rotateSwitch function)

                //Slider Animation
                $(".image_reel").animate({
                    left: -image_reelPosition
                }, 500);

            };

            //Rotation + Timing Event
            rotateSwitch = function () {
                play = setInterval(function () { //Set timer - this will repeat itself every 3 seconds
                    $active = $('.paging a.active').next();
                    if ($active.length === 0) { //If paging reaches the end...
                        $active = $('.paging a:first'); //go back to first
                    }
                    rotate(); //Trigger the paging and slider function
                }, 7000); //Timer speed in milliseconds (3 seconds)
            };

            rotateSwitch(); //Run function on launch

            //On Hover
            $(".image_reel a").hover(function () {
                clearInterval(play); //Stop the rotation
            }, function () {
                rotateSwitch(); //Resume rotation
            });

            //On Click
            $(".paging a").click(function () {
                $active = $(this); //Activate the clicked paging
                //Reset Timer
                clearInterval(play); //Stop the rotation
                rotate(); //Trigger rotation immediately
                rotateSwitch(); // Resume rotation
                return false; //Prevent browser jump to link anchor
            });

        });

    </script>

    <script type='text/javascript'>

        sitePath = 'http://escolalumiart.com.br/';
        sflakesMax = 0.15;
        sflakesMaxActive = 110;
        svMaxX = 1;
        svMaxY = 1;
        ssnowStick = 0;
        sfollowMouse = 1;
    </script>
    <style>
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -1px;
            }
    </style>

    @*'*************************************************'*@


</head>
<body>
    @*<nav class="navbar navbar-inverse  navbar-fixed-top" style="background-color: #f6c828" ;">*@


    @*<nav class="navbar navbar-inverse   navbar-fixed-top " style="background-color: #E7c800 ; color:  #f6c828">*@
    <nav class="navbar navbar-inverse   navbar-fixed-top ">
        @*firebrick*@
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><span> <img src="~/images/Lumiart/avatar.png" alt="Avatar" height="50" width="50" />  Escola Lumiart</span></a>
            </div>
            <div class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" style="color: #b6ff00">Home</a></li>
                    
                    @*<li><a asp-area="" asp-controller="Home" asp-action="About">Sobre nós</a></li>*@
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Contact" style="color: #b6ff00">Contato</a></li>*@
                    <li><a asp-area="" asp-controller="Home" asp-action="Beneficios" style="color: #b6ff00"><span class="glyphicon glyphicon-list" tool-tip-toggle="tooltip-demo" data-original-title="Galeria"></span> Galeria</a></li>
                    <li><a asp-area="Administracao" asp-controller="Home" style="color: #b6ff00" data-toggle="modal" data-target=".listacredenciados"><span class="glyphicon glyphicon-list-alt" tool-tip-toggle="tooltip-demo" data-original-title="Cursos"></span> Cursos</a></li>
                    <li><a href="#ToggleSideMenu" id="ToggleSideMenu" style="color: #b6ff00"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>Painel de controle</a></li>

                    <li><a asp-area="Administracao" asp-controller="Home" data-toggle="modal" data-target=".contato" style="color: #b6ff00"><span class="glyphicon glyphicon-list-alt" tool-tip-toggle="tooltip-demo" data-original-title="Contato"></span> Contato</a></li>



                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div id="wrapper">
        <!-- Sidebar -->
        @*<div id="sidebar-wrapper" class="navbar navbar-inverse " style="background-color: #E7c800;">*@
        <div id="sidebar-wrapper" class="navbar navbar-inverse ">
            <br />
            <ul class="sidebar-nav">

                <li class="sidebar-brand"><a href="#"> </a></li>

                <li><a asp-area="Administracao" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-user" tool-tip-toggle="tooltip-demo" data-original-title="Administração"></span> Administração</a></li>
                <li><a asp-area="" asp-controller="Livro" asp-action="Acervo" style="color: #b6ff00"><span class="glyphicon glyphicon-list" tool-tip-toggle="tooltip-demo" data-original-title="Central de Atendimento"></span> Biblioteca</a></li>

            </ul>

        </div>

        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->

        <div id="page-content-wrapper" style="background-color:lemonchiffon;">
            @************************ bloco modelo dataprev   *@
            <div class="header-main" style="background-color:lemonchiffon;">
                <div class="row">
                    <div class="col-md-6 info">
                        <div class="site-info">
                            @*<a class="logo navbar-btn pull-left" href="/" title="Página inicial">
                                    <h1 class="site-name"><img src="~/images/Lumiart/lumi_banner.png" alt="banner lumiart" /></h1>
                                </a>*@

                        </div>
                    </div>

                </div>
            </div>
            
            
            

            <div class="modal fade listacredenciados">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button data-dismiss="modal" class="close"><span>&times;</span></button>

                        </div>
                        <div class="modal-body">

                            <div class="row" style="border-radius: 20px; border-bottom-color:white; align-content:center">

                                <div class="col-md-12">

                                    <img src="~/images/Lumiart/Galeria/lumiart_cursos.jpg" alt="DÉL_LUMIART-1.jpg" class="img-responsive" />

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            @*<button class="btn btn-primary">Submit</button>*@
                            <button class="btn btn-default" data-dismiss="modal">Retorna</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade contato">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button data-dismiss="modal" class="close"><span>&times;</span></button>

                        </div>
                        <div class="modal-body">

                            <div class="row" style="border-radius: 20px; border-bottom-color:white; align-content:center">

                                <div class="col-md-12">

                                    <img src="~/images/Lumiart/Galeria/lumiart_contato.jpg" alt="lumiart_contato.jpg" class="img-responsive" />

                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <h3><strong>Endereço:</strong></h3>
                            <address>


                                <b>Av.Rui Barbosa, 2016</b><br />
                                Centro - Carapicuíba- SP - CEP: 06311-000<br />
                                <abbr title="Telefones:"></abbr>
                                <p>
                                    Tel::(11) 95604-8384
                                    <img src="~/images/whats2.png" style="height:20px; width:20px; margin-top:-20px" />

                                </p>
                                <p> e-mail: <a href="mailto:atendimento@escolalumiart.com.br">atendimento@escolalumiart.com.br</a> </p>
                                @*<p><b>ATENDIMENTO SOMENTE POR TELEFONE</b></p>*@
                            </address>
                        </div>
                        <div class="modal-footer">
                            @*<button class="btn btn-primary">Submit</button>*@
                            <button class="btn btn-default" data-dismiss="modal">Retorna</button>
                        </div>
                    </div>
                </div>
            </div>

            @RenderBody()

            <footer>
                <div class="col-md-4" style="margin-top:10px;">
                    <div class="search">
                        <div class="region region-search">
                            <div id="block-search-form" class="block block-search block-no-title clearfix">

                                <div class="content">
                                    <form class="form-search content-search" action="/home/contato" method="post" id="search-block-form" accept-charset="UTF-8">
                                        <div>
                                            <div>
                                                <div class="social" style="margin-top:20px; padding-left:10px;">
                                                    <div class="region region-social-links">
                                                        <div id="block-block-83" class="block block-block block-linkssociais block-no-title clearfix">

                                                            <div class="content">
                                                                <ul class="menu list-inline">
                                                                    <li class="leaf first"><a href="https://business.facebook.com/escolalumiart/"><img alt="Facebook" src="/images/midias_sociais/facebook.png" style="width: 19px; height: 19px;" title="Facebook" /></a></li>
                                                                    <li class="leaf first"><a href="https://www.instagram.com/escolalumiart/"><img alt="Instagram" src="/images/midias_sociais/th.jfif" style="width: 19px; height: 19px;" title="Instagram" /></a></li>
                                                                    @*<li class="leaf"><a href="http://www.twitter.com/EscolaLumiart"><img alt="Twitter" src="/images/midias_sociais/twitter.png" style="width: 20px; height: 19px;" title="Twitter" /></a></li>
                                                                        <li class="leaf"><a href="https://www.youtube.com/user/EscolaLumiart"><img alt="Youtube" src="/images/midias_sociais/youtube.gif" style="width: 19px; height: 19px;" title="Youtube" /></a></li>
                                                                        <li class="leaf"><a href="https://www.linkedin.com/company-beta/10790205/"><img alt="Linkedin" src="/images/midias_sociais/icolinkedinazul.gif" style="width: 19px; height: 19px;" title="Linkedin" /></a></li>*@
                                                                </ul>
                                                            </div>
                                                        </div> <!-- /.block -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> <!-- /.block -->
                        </div>
                    </div>

                </div>
                <br />
                <p>&copy; 2021 - Eunivesp - alunos da Universidade Virtual de São Paulo - Univesp </p>
            </footer>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
