@{
    ViewData["Title"] = "Sobre nós";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><span>APASP - Escola Lumiart</span></p>
<address>


    <b>Av.Rui Barbosa, 2016</b><br />
    Centro - Carapicuíba- SP - CEP: 06311-000<br />
    <abbr title="Telefones:"></abbr>
    <p>
        Tel::(11) 95604-8384
        <img src="~/images/whats2.png" style="height:20px; width:20px; margin-top:-20px" />

    </p>
    <p> e-mail: <a href="mailto:atendimento@escolalumiart.com.br">atendimento@escolalumiart.com.br</a> </p>
    @*<p><b>ATENDIMENTO SOMENTE POR TELEFONE</b></p>*@
</address>

