<main role="main" id="app">
    <hr />
    <br />
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" style="max-height:500px; max-width:auto" role="listbox">
            <div class="item active">

                <img src="~/images/Lumiart/Galeria/lumiart_painel.jpg" alt="lumiart painel" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Lumiart.
                        @*<a class="btn btn-default" href="#">
                            Saiba mais
                        </a>*@

                    </p>
                </div>
            </div>
            <div class="item">

                <img src="~/images/Lumiart/Galeria/DÉL_LUMIART-30_banner.jpg" alt="DÉL_LUMIART-30" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Lumiart.
                        @*<a class="btn btn-default" href="#">
                            Saiba mais
                        </a>*@

                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/Lumiart/Galeria/DÉL_LUMIART-29_banner.jpg" alt="DÉL_LUMIART-29" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Lumiart.
                        @*<a class="btn btn-default" href="#">
                            Saiba mais
                        </a>*@
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/Lumiart/Galeria/DÉL_LUMIART-31_banner.jpg" alt="DÉL_LUMIART-31" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>

                        @*<a class="btn btn-default" href="#">
                            Saiba mais
                        </a>*@
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    @*<div class="row topo__conteudo" style="margin-left:10px;">

        <div class="topo__conteudo__texto">
            <h2>Não consegue mais pagar o plano de saúde?<br /></h2>
            <h3>Conheça o cartão <strong>APASP Benefícios</strong></h3>
            <a class="topo__conteudo__texto__btn-orcamento cta-call" title="consulte nossos benefícios!" href="#">consulte os benefícios que ele oferece!</a>
            <p>
                Com a crise econômica no país nos últimos anos, milhares de brasileiros deixaram de pagar o seu plano de saúde e contar com a cobertura nas situações de emergência. Outros que ainda pagam, mensalmente, quantias vultosas não conseguem agendar consultas e realização de diagnósticos de forma imediata, aguardando por vezes até 6 meses para conseguir uma consulta médica. <br />
                <strong>Se você está entre essas pessoas conheça agora mesmo uma solução inteligente que vai facilitar a sua vida.</strong><br />
                Sem burocracia você, por meio de nosso aplicativo ou no site, seleciona a especialidade, escolhe o profissional/clínica/laboratório credenciados, solicita uma guia de encaminhamento e agenda a melhor data para o seu atendimento. <br />

            </p>
        </div>
        <div class="topo__conteudo__pessoas-wrapper">
            <img class="topo__conteudo__pessoas-wrapper__pessoas" src="Images/pessoas.png" alt="Pessoas">

        </div>

    </div>*@
    <br />
    <section class="cta-form">
        <div class="cta-form__col-right"></div>
        
        <div class="cta-form__conteudo" style="background-color:#000000">
            <div class="container">
                <div class="cta-form__conteudo__texto">
                    <h2>Não sabe o que fazer com aqueles livros que não usa mais? <br /><strong>Doe para nossa biblioteca comunitária!</strong></h2>

                    <ul>
                        <li><i class="fa fa-check"></i> <strong>RETIRAMOS NO LOCAL INDICADO</strong></li>
                        <li><i class="fa fa-check"></i> Cadastramos em nosso acervo para uso da comunidade;</li>
                        <li><i class="fa fa-check"></i> Controlamos por titulo e assunto;</li>
                        <li><i class="fa fa-check"></i> Emprestamos mediante prévio cadastro de usuário ;</li>
                        <li><i class="fa fa-check"></i> Temos projeto de inclusão para incentivo da leitura;</li>
                    </ul>

                    <p>Com a biblioteca comunitária da escola Lumiart <br /> <strong> Todos ganham: conhecimento, lazer e inclusão.</strong></p>
                    <table>
                        <tr>
                            <td>
                                <img src="~/images/Lumiart/Galeria/DÉL_LUMIART-1.jpg" alt="DÉL_LUMIART-1.jpg" class="img-responsive" style="max-height:400px;max-width:auto" />
                            </td>
                            <td>
                                <img src="~/images/Lumiart/Galeria/DÉL_LUMIART-2.jpg" alt="DÉL_LUMIART-2.jpg" class="img-responsive" style="max-height:400px;max-width:auto" />
                            </td>
                        </tr>
                    </table>
                    

                   
                </div>
                <div class="cta-form__conteudo__form">
                    <div class="jumbotron" style="background-color:darkorange">
                        <h2>Doação de Livros</h2>
                        <hr />
                        <p><strong>Ajude a diversificar o nosso acervo de livros</strong></p>
                        <p>Preencha os dados abaixo e receba o atendimento personalizado de um de nossos voluntários, sem compromisso.</p>

                        @*<form-lead :fixo="false" class="form__wrapper--principal" :ferramentacod="'principal'"></form-lead>*@
                        <partial name="/Views/Contatos/Create.cshtml" />

                    </div>
                </div>
            </div>
        </div>
    </section>



    <!--<section class="sobre">
        <div class="container">
            <div class="sobre__col coluna1">

                <img class="topo__conteudo__pessoas-wrapper__pessoas" src="~/images/Apasp_beneficios_vermelho_menor.png" alt="Cartão">


                <div class="informativos">
                    <h4>
                        Informativos APASP
                    </h4>
                    <table style="padding-bottom: 10px; margin-bottom: 10px">
                        <tr>
                            <td>
                                <div class="foto-destaque">
                                    <p style="text-align: center; font-size: medium; font-weight: bold; color: #990000;">
                                        Conheça a rede credenciada da APASP Benefícios
                                    </p>
                                    <a href="~/images/informativos/RedeBeneficios.pdf" target="_blank">
                                        <img src="~/images/Informativos/informativo_012019.JPG" style="Height:80px; Width:57px;" />
                                    </a>
                                </div>
                            </td>
                            <td>-->
                                @*<div class="foto-destaque">
                                        <p style="text-align: center; font-size: medium; font-weight: bold; color: #990000;">
                                            06/2018
                                        </p>
                                        <a href="images/informativos/informativo_062018.pdf" target="_blank">
                                            <img src="~/images/Informativos/informativo_062018.PNG" style="Height:80px; Width:57px;" />
                                        </a>
                                    </div>*@
                            <!--</td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="sobre__col coluna2">
                <div class="sobre__col__item">
                    <img class="sobre__col__item__icone" src="Images/icone-agende.png" alt="Icone Agende">

                    <p><strong>Como utilizo os serviços de saúde oferecidos pelo cartão de benefícios da APASP?</strong></p>
                    <p>
                        Para realizar consultas e exames laboratoriais e/ou imagens você deverá acessar a área do beneficiário com seu login e senha e solicitar uma guia de autorização de procedimentos.<br />
                        Com essa guia você deve se dirigir a um de nossos credenciados da área de saúde de sua escolha, apresentar o cartão APASP, a guia de autorização e um documento de identidade com foto.
                        Verifique sempre a necessidade de agendar préviamente a realização do procedimento junto à clínica  ou laboratório.
                    </p>
                </div>

                <div class="sobre__col__item">
                    <img class="sobre__col__item__icone" src="Images/icone-controle.png" alt="Icone Seguro">

                    <p><strong>Como eu pago por esses serviços?</strong></p>
                    <p>Você só paga quando usar e um preço muito baixo, préviamente pactuado com os profissionais e clínicas credenciadas.</p>
                </div>
                <div class="sobre__col__item">
                    <img class="sobre__col__item__icone" src="Images/icone-seguranca.png" alt="Icone Controle">

                    <p><strong>Como me filio a rede de benefícios da APASP?</strong></p>
                    <p>Com uma taxa mensal de <strong>R$ 50,00 (corrigidos anualmente pelo INPC, ou o índice que por ventura venha substituí-lo)</strong> você estará gozando de todos os benefícios da área de saúde.</p>
                </div>
                <div class="sobre__col__item">
                    <img class="sobre__col__item__icone" src="Images/icone-seguro.png" alt="Icone Seguro">

                    <p><strong>Posso incluir meus dependentes no cartão de benefícios?</strong></p>
                    <p>Sim! Os seus dependentes menores de 18 anos também são beneficiários e usufruem de todas as vantagens oferecidas.</p>
                </div>

            </div>
        </div>

    </section>-->

</main>

<footer class="footer">
    <div class="container">
        <div class="footer__colunas">
            <div class="footer__colunas__coluna coluna1">
                <img src="~/images/Lumiart/avatar.png" alt="Avatar" height="100" width="100" />

            </div>
            <div class="footer__colunas__coluna coluna2">
               
                <H2>A <strong>Escola Lumiart</strong> , <br />é um espaço que busca acolher a comunidade com cultura, amor e educação .</H2>
               
               
            </div>
            <div class="footer__colunas__coluna coluna3">
                <button type="button" class="footer__colunas__coluna--btn cta-call">Quero ser um doador</button>
            </div>
        </div>

    </div>

</footer>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpDoS7oRyKvIyedHPOrrFq7-Aq_agvkKg"
        type="text/javascript"></script>

@*<script src="Scripts/vendor.js"></script>*@

<script src="Scripts/app.js"></script>

<script>
    /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
    //esse script carrega o css assim que a pagina esta pronta
    !function (a) { "use strict"; var b = function (b, c, d) { function j(a) { if (e.body) return a(); setTimeout(function () { j(a) }) } function l() { f.addEventListener && f.removeEventListener("load", l), f.media = d || "all" } var g, e = a.document, f = e.createElement("link"); if (c) g = c; else { var h = (e.body || e.getElementsByTagName("head")[0]).childNodes; g = h[h.length - 1] } var i = e.styleSheets; f.rel = "stylesheet", f.href = b, f.media = "only x", j(function () { g.parentNode.insertBefore(f, c ? g : g.nextSibling) }); var k = function (a) { for (var b = f.href, c = i.length; c--;) if (i[c].href === b) return a(); setTimeout(function () { k(a) }) }; return f.addEventListener && f.addEventListener("load", l), f.onloadcssdefined = k, k(l), f }; "undefined" != typeof exports ? exports.loadCSS = b : a.loadCSS = b }("undefined" != typeof global ? global : this);
    /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
    !function (a) { if (a.loadCSS) { var b = loadCSS.relpreload = {}; if (b.support = function () { try { return a.document.createElement("link").relList.supports("preload") } catch (a) { return !1 } }, b.poly = function () { for (var b = a.document.getElementsByTagName("link"), c = 0; c < b.length; c++) { var d = b[c]; "preload" === d.rel && "style" === d.getAttribute("as") && (a.loadCSS(d.href, d, d.getAttribute("media")), d.rel = null) } }, !b.support()) { b.poly(); var c = a.setInterval(b.poly, 300); a.addEventListener && a.addEventListener("load", function () { b.poly(), a.clearInterval(c) }), a.attachEvent && a.attachEvent("onload", function () { a.clearInterval(c) }) } } }(this);
    //seta a pagina atual
    var pagina = "home";
    var local = false;
</script>
<link href="~/css/app.css" rel="stylesheet" />
<script src="~/js/app.js"></script>
<script src="~/js/vendor.js"></script>