<main role="main" id="app">
    <hr />

    <div class="topo__conteudo">

        <div class="topo__conteudo__texto">
            <h2>Não consegue mais pagar o plano de saúde?<br /></h2>
            <h3>Conheça o cartão <strong>APASP Benefícios</strong></h3>
            <a class="topo__conteudo__texto__btn-orcamento cta-call" title="consulte nossos benefícios!" href="#">consulte os benefícios que ele oferece!</a>
            <p>
                Com a crise econômica no país nos últimos anos, milhares de brasileiros deixaram de pagar o seu plano de saúde e contar com a cobertura nas situações de emergência. Outros que ainda pagam, mensalmente, quantias vultosas não conseguem agendar consultas e realização de diagnósticos de forma imediata, aguardando por vezes até 6 meses para conseguir uma consulta médica. <br />
                <strong>Se você está entre essas pessoas conheça agora mesmo uma solução inteligente que vai facilitar a sua vida.</strong><br />
                Sem burocracia você, por meio de nosso aplicativo ou no site, seleciona a especialidade, escolhe o profissional/clínica/laboratório credenciados, solicita uma guia de encaminhamento e agenda a melhor data para o seu atendimento. <br />
                Os nossos credenciados assinaram termo de compromisso de oferecer os preços mais baixos e acessíveis do mercado. A tabela a ser utilizada nos procedimentos é a <strong>AMB</strong> com descontos promocionais oferecidos a critério do profissional. O orçamento lhe será fornecido previamente e aguardará a sua confirmação.
            </p>
        </div>
        <div class="topo__conteudo__pessoas-wrapper">
            <img class="topo__conteudo__pessoas-wrapper__pessoas" src="Images/pessoas.png" alt="Pessoas">
        </div>
    </div>


    <section class="cta-form">
        <div class="cta-form__col-right"></div>

        <div class="cta-form__conteudo">
            <div class="container">
                <div class="cta-form__conteudo__texto">
                    <h2>Cansei de esperar <br />atendimento médico e laboratorial. <br /><strong>Quero ser um beneficiário!</strong></h2>

                    <ul>
                        <li><i class="fa fa-check"></i> <strong>RAPIDEZ E EFICIÊNCIA</strong></li>
                        <li><i class="fa fa-check"></i> Preços justos, bem inferior aos praticados no mercado;</li>
                        <li><i class="fa fa-check"></i> Procedimentos médicos de várias especialidades;</li>
                        <li><i class="fa fa-check"></i> Procedimentos laboratoriais e tratamento dentários;</li>
                        <li><i class="fa fa-check"></i> Alternativa para quem busca por atendimento rápido, barato e eficiente;</li>
                    </ul>

                    <p>Com o cartão de benefícios da APASP você usufrui de serviços médicos com custo acessível. <strong> Consultas médicas e exames laboratoriais com até 50% de desconto.</strong></p>
                </div>
                <div class="cta-form__conteudo__form">
                    <h2>Saúde sem complicação</h2>
                    <hr />
                    <p><strong>Não espere mais pelo atendimento do seu plano.</strong></p>
                    <p>Preencha os dados abaixo e receba o atendimento personalizado de um de nossos corretores, sem compromisso.</p>

                    @*<form-lead :fixo="false" class="form__wrapper--principal" :ferramentacod="'principal'"></form-lead>*@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </section>

    <section class="sobre">
        <div class="container">
            <div class="sobre__col coluna1">

                <img src="Images/Apasp_beneficios_vermelho.png" alt="Cartão Apasp Benefícios" />
                <h4>
                    Informativos APASP
                </h4>
                <div class="informativos">

                    <table style="padding-bottom: 10px; margin-bottom: 10px">
                        <tr>
                            <td>
                                <div class="foto-destaque">
                                    <p style="text-align: center; font-size: medium; font-weight: bold; color: #990000;">
                                        06/2018
                                    </p>
                                    <a href="images/informativos/informativo_062018.pdf" target="_blank">
                                        <img src="~/images/Informativos/informativo_062018.PNG" style="Height:120px; Width:87px;" />
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="foto-destaque">
                                    <p style="text-align: center; font-size: medium; font-weight: bold; color: #990000;">
                                        05/2017
                                    </p>
                                    <a href="images/informativos/informativo_052017.pdf" target="_blank">
                                        <img src="~/images/Informativos/informativo_052017.PNG" style="Height:120px; Width:87px;"/>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="foto-destaque">
                                    <p style="text-align: center; font-size: medium; font-weight: bold; color: #990000;">
                                        04/2017
                                    </p>
                                    <a href="images/informativos/informativo_042017.pdf" target="_blank">
                                        <img src="~/images/Informativos/informativo_042017.jpg" style="Height:120px; Width:87px;"/>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="foto-destaque">
                                    <p style="text-align: center; font-size: medium; font-weight: bold; color: #990000;">
                                        03/2016
                                    </p>
                                    <a href="images/informativos/informativo_032016.pdf" target="_blank">
                                        <img src="~/images/Informativos/informativo_032016.jpg" style="Height:120px; Width:87px;" />
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="foto-destaque">
                                    <p style="text-align: center; font-size: medium; font-weight: bold; color: #990000;">
                                        02/2016
                                    </p>
                                    <a href="images/informativos/informativo_022016.pdf" target="_blank">
                                        <img src="~/images/Informativos/informativo_022016.jpg" style="Height:120px; Width:87px;" />
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="foto-destaque">
                                    <p style="text-align: center; font-size: medium; font-weight: bold; color: #990000;">
                                        01/2016
                                    </p>
                                    <a href="images/informativos/informativo_012016.pdf" target="_blank">
                                        <img src="~/images/Informativos/informativo_012016.jpg" style="Height:120px; Width:87px;" />
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="sobre__col coluna2">
                <div class="sobre__col__item">

                    <img class="sobre__col__item__icone" src="Images/icone-agende.png" alt="Icone Agende">

                    <p><strong>Como utilizo os serviços de saúde oferecidos pelo cartão de benefícios da APASP?</strong></p>
                    <p>
                        Para realizar consultas e exames laboratoriais e/ou imagens você deverá acessar a área do beneficiário com seu login e senha e solicitar uma guia de autorização de procedimentos.<br />
                        Com essa guia você deve se dirigir a um de nossos credenciados da área de saúde de sua escolha, apresentar o cartão APASP, a guia de autorização e um documento de identidade com foto.
                        Verifique sempre a necessidade de agendar préviamente a realização do procedimento junto à clínica  ou laboratório.
                    </p>
                </div>
                <div class="sobre__col__item">
                    <img class="sobre__col__item__icone" src="Images/icone-controle.png" alt="Icone Seguro">

                    <p><strong>Como eu pago por esses serviços?</strong></p>
                    <p>Você só paga quando usar e um preço muito baixo, préviamente pactuado com os profissionais e clínicas credenciadas.</p>
                </div>
                <div class="sobre__col__item">
                    <img class="sobre__col__item__icone" src="Images/icone-seguranca.png" alt="Icone Controle">

                    <p><strong>Como me filio a rede de benefícios da APASP?</strong></p>
                      <p>Com uma taxa mensal de <strong>R$ 50,00 (corrigidos anualmente pelo INPC, ou o índice que por ventura venha substituí-lo)</strong> você estará gozando de todos os benefícios da área de saúde.</p>
                </div>
                <div class="sobre__col__item">
                    <img class="sobre__col__item__icone" src="Images/icone-seguro.png" alt="Icone Seguro">

                    <p><strong>Posso incluir meus dependentes no cartão de benefícios?</strong></p>
                    <p>Sim! Os seus dependentes menores de 18 anos também são beneficiários e usufruem de todas as vantagens oferecidas.</p>
                </div>
            </div>
        </div>

    </section>
</main>

<footer class="footer">
    <div class="container">
        <div class="footer__colunas">
            <div class="footer__colunas__coluna coluna1">
                <img src="Images/logo_apasp_pequeno.png" alt="Logo Apasp">

            </div>
            <div class="footer__colunas__coluna coluna2">
                <p>O cartão de benefícios da APASP , <br />é uma alternativa de atendimento justa e de qualidade.</p>
                <p><strong>Peça já o seu!</strong></p>
            </div>
            <div class="footer__colunas__coluna coluna3">
                <button type="button" class="footer__colunas__coluna--btn cta-call">Quero ser um beneficiário</button>
            </div>
        </div>
    
    </div>

</footer>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpDoS7oRyKvIyedHPOrrFq7-Aq_agvkKg"
        type="text/javascript"></script>

@*<script src="Scripts/vendor.js"></script>*@

<script src="Scripts/app.js"></script>

<script>
    /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
    //esse script carrega o css assim que a pagina esta pronta
    !function (a) { "use strict"; var b = function (b, c, d) { function j(a) { if (e.body) return a(); setTimeout(function () { j(a) }) } function l() { f.addEventListener && f.removeEventListener("load", l), f.media = d || "all" } var g, e = a.document, f = e.createElement("link"); if (c) g = c; else { var h = (e.body || e.getElementsByTagName("head")[0]).childNodes; g = h[h.length - 1] } var i = e.styleSheets; f.rel = "stylesheet", f.href = b, f.media = "only x", j(function () { g.parentNode.insertBefore(f, c ? g : g.nextSibling) }); var k = function (a) { for (var b = f.href, c = i.length; c--;) if (i[c].href === b) return a(); setTimeout(function () { k(a) }) }; return f.addEventListener && f.addEventListener("load", l), f.onloadcssdefined = k, k(l), f }; "undefined" != typeof exports ? exports.loadCSS = b : a.loadCSS = b }("undefined" != typeof global ? global : this);
    /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
    !function (a) { if (a.loadCSS) { var b = loadCSS.relpreload = {}; if (b.support = function () { try { return a.document.createElement("link").relList.supports("preload") } catch (a) { return !1 } }, b.poly = function () { for (var b = a.document.getElementsByTagName("link"), c = 0; c < b.length; c++) { var d = b[c]; "preload" === d.rel && "style" === d.getAttribute("as") && (a.loadCSS(d.href, d, d.getAttribute("media")), d.rel = null) } }, !b.support()) { b.poly(); var c = a.setInterval(b.poly, 300); a.addEventListener && a.addEventListener("load", function () { b.poly(), a.clearInterval(c) }), a.attachEvent && a.attachEvent("onload", function () { a.clearInterval(c) }) } } }(this);
    //seta a pagina atual
    var pagina = "home";
    var local = false;
</script>
<link href="~/css/app.css" rel="stylesheet" />
<script src="~/js/app.js"></script>
<script src="~/js/vendor.js"></script>